@{
    ViewBag.Title = "About";
}

<h1>About Us</h1>
<p>Thanks for visiting out page, We deal with wonderful proucts</p>
<p>Please Patronize us, We Would love to have your money!</p>

<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Home</a>
